In [23]:
import pandas as pd
import seaborn as sns
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [24]:
import sklearn

In [25]:
print('The scikit-learn version is {}.'.format(sklearn.__version__))

The scikit-learn version is 1.2.2.

In [26]:
datas = pd.read_csv('heart_failure_clinical_records_dataset.csv')
datas.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,30,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,25,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [27]:
datas.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

# pie-chart

In [ ]:
import plotly.graph_objs as go

In [28]:
labels = ['No Diabetes', 'Diabetes']
Diabetes_yes = datas[datas['diabetes']==1]
Diabetes_No  = datas[datas['diabetes']==0]
values = [len(Diabetes_No), len(Diabetes_yes)]
fig = go.Figure(data = [go.Pie(labels=labels, values=values, hole=.4)])
fig.update_layout(title_text = "Analysis on Diabetes")
fig.show()

NameError: name 'go' is not defined

  
   # Train and Test Data

In [29]:
Feature = ['age', 'diabetes', 'high_blood_pressure', 'serum_creatinine', 'sex', 'smoking']
X = datas[Feature]
X.head()

   age  diabetes  high_blood_pressure  serum_creatinine  sex  smoking
0   30         0                    1               1.9    1        0
1   55         0                    0               1.1    1        0
2   65         0                    0               1.3    1        1
3   25         0                    0               1.9    1        0
4   65         1                    0               2.7    0        0

In [30]:
y = datas.iloc[ :,-1:]
y.head()

   DEATH_EVENT
0            1
1            1
2            1
3            1
4            1

In [ ]:
X.info()

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

In [ ]:
sklearn

In [32]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.33, random_state=42)

In [33]:
from sklearn.tree import DecisionTreeClassifier
rf = DecisionTreeClassifier()
rf.fit(X,y)

DecisionTreeClassifier()

In [34]:
result = rf.predict(X_test)
result

array([0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [35]:
scr = rf.score(X_test, y_test)
scr

0.9696969696969697

In [36]:
scr = rf.score(X_train, y_train)
scr

0.985

In [37]:
import pickle
file = open('tree.pkl','wb')
pickle.dump(rf, file)

In [38]:
rf.feature_names_in_

array(['age', 'diabetes', 'high_blood_pressure', 'serum_creatinine',
       'sex', 'smoking'], dtype=object)